body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
}

.card {
    margin-top: 30px;
    border-style: ridge;
    border-width: 8px;
    border-color: rgb(146, 83, 158);
    border-radius: 15px;
    background-image: url("../images/background2.png");
}

.card-image {
    padding: 20px 20px;
    min-height: 40%;
    min-width: 40%;
}

.carousel {
    min-height: 100vh;
}

.nav-wrapper, .dropdown-content {
    background-image: url("../images/navbar.jpg");
    background-size: cover;
    font-family: 'IM Fell English SC', serif;
}

p {
    font-family: 'IM Fell English SC', serif;
    font-size: 24px;
    line-height: 30px;
}

#pic-text, #contact-text {
    font-family: 'IM Fell English SC', serif;
    font-size: 55px;
}

#pic-text {
    padding: 0px 0px 10px 60px;
}

.dropdown-trigger {
    width: 200px;
}

h3 {
    font-family: 'IM Fell English SC', serif;
    color: rgb(146, 83, 158);
    text-shadow: 2px 2px rgb(31, 0, 37);
    font-weight: bolder;
}

#next, #prev {
    font-family: 'Sansita', sans-serif;
    font-weight: bolder;
    font-size: 24px;
}

#submit {
    font-family: 'Sansita', sans-serif;
    font-size: 18px;
}

#psychic {
    background-image: url("../images/psychic.png");
    background-size: cover;
}

#crystal {
    background-image: url("../images/crystal.png");
    background-size: cover;
}

#trivia {
    background-image: url("../images/trivia.png");
    background-size: cover;
}

#gif {
    background-image: url("../images/gif.png");
    background-size: cover;
}

#train {
    background-image: url("../images/train.png");
    background-size: cover;
}

.input-field label {
    color: #000;
}

.contact-head {
    text-align: center;
}

.card-action {
    text-align: center;
}

#icons {
    padding-left: 35px;
}

#phone {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

.icon {
      width: 47px;
      height: 47px;
}
